.about_h1 {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.about_p {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.account-balance-button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}