div h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #1E5AA9;
    /* text-align: center; */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10vh;

}

div .resource-list {
    color: #1E5AA9;
    padding-left: 10vh;
    font-size: 1.2em;
}